In [5]:
# from datasets import load_dataset
 
# # Convert dataset to OAI messages
# system_message = """You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.
# SCHEMA:
# {schema}"""
 
# def create_conversation(sample):
#   return {
#     "messages": [
#       {"role": "system", "content": system_message.format(schema=sample["context"])},
#       {"role": "user", "content": sample["question"]},
#       {"role": "assistant", "content": sample["answer"]}
#     ]
#   }
 
# # Load dataset from the hub
# dataset = load_dataset("b-mc2/sql-create-context", split="train")
# dataset = dataset.shuffle().select(range(12500))
 
# # Convert dataset to OAI messages
# dataset = dataset.map(create_conversation, remove_columns=dataset.features,batched=False)
# # split dataset into 10,000 training samples and 2,500 test samples
# dataset = dataset.train_test_split(test_size=2500/12500)
 
# print(dataset["train"][345]["messages"])
 
# # save datasets to disk
# dataset["train"].to_json("train_dataset.json", orient="records")
# dataset["test"].to_json("test_dataset.json", orient="records")

In [1]:
from helper import config
from helper.pdf_reader import create_conversation
from datasets import load_dataset

train_dataset = load_dataset("json", data_files=[file for file in config.MOVIE_OUTPUT_FINAL], split="train")

In [2]:
new_dataset = train_dataset.map(create_conversation, batched=False)

In [3]:
new_dataset

Dataset({
    features: ['messages'],
    num_rows: 57
})

In [4]:
for row in new_dataset.take(3):  # Take the first element from the dataset
    print(row)

{'messages': [{'content': 'Well,is it strictly informal-', 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': 'Or can it be worn with a suit?', 'role': 'assistant', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': 'Exactly.', 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': 'With discreet pinstripes you should wear a subdued blue or charcoal gray vest. A plaid suit would call for a bolder vest.', 'role': 'assistant', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': "But avoid matching the vest's pattern with your socks or tie. Wearing argyle socks with an argyle vest will look too studied.", 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': 'Van Patten looks puffy. Has he stopped working out?', 'role': 'assistant', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': "It looks that way,doesn't it?", 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': 'Did he just take our plates away?', 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': "He took them away because the portions are so small he probably thought we were finished. God I hate this place. This is a chick's restaurant. Why aren't we at Dorsia?", 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': "Because Bateman won't give the maitre d'head.", 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': 'Is that Reed Robinson over there?', 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': "Are you freebasing or what? That's not Robinson.", 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': 'Who is it then?', 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': 'That s Paul Owen.', 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': 'Who is he with?', 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': 'Some weasel from Kicker Peabody.', 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information about me to help you:\n\n- I work as a Data Scientist and Software Engineer at a consultancy in the fashion industry.\n- I’m passionate about cycling, and during the winter, I love skiing and back-country skiing.\n- I also enjoy playing padel, watching movies, and I generally consider myself a chill guy who’s open to trying new things.\n\nWhen suggesting dates, keep it simple and casual—drinks, dinner, or a coffee meetup are great options. Your tone should always reflect warmth, authenticity, and a touch of humor'}, {'content': "Are you sure that's Paul Owen over there?", 'role': 'user', 'system': 'You are representing me, Moritz Voss, from Düsseldorf, Germany. Your primary role is to engage in conversations with women around my age with the goal of establishing a connection that may lead to an invitation for a date or exchanging numbers. You should take a subtle, friendly, and gradual approach toward achieving this goal.\nFocus on creating conversations that are lighthearted, creative, funny, and engaging. Avoid being overly direct or rushing the interaction. Instead, guide the conversation naturally to a point where it feels appropriate to suggest meeting up. Some information ab

In [23]:
for row in train_dataset.take(1):  # Take the first element from the dataset
    print(row)
    for message in row['messages']:  # Iterate through the messages in the row
        print(message['role'])

{'messages': [{'role': 'MCDERMOTT', 'content': 'Well,is it strictly informal-'}, {'role': 'MAIN', 'content': 'Or can it be worn with a suit?'}, {'role': 'MCDERMOTT', 'content': 'Exactly.'}, {'role': 'MAIN', 'content': 'With discreet pinstripes you should wear a subdued blue or charcoal gray vest. A plaid suit would call for a bolder vest.'}, {'role': 'MCDERMOTT', 'content': "But avoid matching the vest's pattern with your socks or tie. Wearing argyle socks with an argyle vest will look too studied."}, {'role': 'MAIN', 'content': 'Van Patten looks puffy. Has he stopped working out?'}, {'role': 'PRICE', 'content': "It looks that way,doesn't it?"}, {'role': 'MCDERMOTT', 'content': 'Did he just take our plates away?'}, {'role': 'PRICE', 'content': "He took them away because the portions are so small he probably thought we were finished. God I hate this place. This is a chick's restaurant. Why aren't we at Dorsia?"}, {'role': 'MCDERMOTT', 'content': "Because Bateman won't give the maitre d'head."}, {'role': 'MCDERMOTT', 'content': 'Is that Reed Robinson over there?'}, {'role': 'PRICE', 'content': "Are you freebasing or what? That's not Robinson."}, {'role': 'MCDERMOTT', 'content': 'Who is it then?'}, {'role': 'PRICE', 'content': 'That s Paul Owen.'}, {'role': 'MCDERMOTT', 'content': 'Who is he with?'}, {'role': 'PRICE', 'content': 'Some weasel from Kicker Peabody.'}, {'role': 'MCDERMOTT', 'content': "Are you sure that's Paul Owen over there?"}, {'role': 'PRICE', 'content': 'Yes,McDufus,I am.'}, {'role': 'MCDERMOTT', 'content': "He's handling the Fisher account."}, {'role': 'PRICE', 'content': 'Lucky bastard.'}, {'role': 'MCDERMOTT', 'content': 'Lucky Jew bastard.'}, {'role': 'MAIN', 'content': 'Oh Jesus,McDermott,what does that have to do with anything?'}, {'role': 'MCDERMOTT', 'content': "Listen,I've seen the bastard sitting in his office on the phone with CEO's,spinning a fucking menorah. The bastard brought a Hanukkah bush into the office last December."}, {'role': 'MCDERMOTT', 'content': 'Oh my god Bateman,do you want me to fry you up some fucking potato pancakes? Some latkes?'}, {'role': 'MCDERMOTT', 'content': "Oh I forgot. Bateman's dating someone from the ACLU."}, {'role': 'PRICE', 'content': 'The voice of reason. The boy next door. And speaking of reasonable...'}, {'role': 'MCDERMOTT', 'content': 'Only $470.'}, {'role': 'MCDERMOTT', 'content': "Last week I picked up this Vassar chick — VAN PATTEN Oh god,I was there. I don't need to hear this story again."}, {'role': 'MCDERMOTT', 'content': "Oh fuck you. I want a blow-job,Bate-man. I want a chick who's gonna let me — VAN PATTEN"}, {'role': 'MCDERMOTT', 'content': "You prude. Listen,we're not gonna invest in a co-op together or jet down to Saint Bart's. I just want some chick whose face I can sit on for thirty,forty minutes."}, {'role': 'MCDERMOTT', 'content': "Anyway,so we’re back at my place,and listen to this. She's had enough champagne by now to get a fucking rhino tipsy,and get this — VAN PATTEN She let you fuck her without a condom?"}, {'role': 'MCDERMOTT', 'content': 'This is a Vassar girl. She’s not from Queens. She would only — are you ready?'}, {'role': 'MCDERMOTT', 'content': "I suppose he doesn't want the car. Price,ask him if he takes American Express."}, {'role': 'MCDERMOTT', 'content': 'What do you mean?'}]}
MCDERMOTT
MAIN
MCDERMOTT
MAIN
MCDERMOTT
MAIN
PRICE
MCDERMOTT
PRICE
MCDERMOTT
MCDERMOTT
PRICE
MCDERMOTT
PRICE
MCDERMOTT
PRICE
MCDERMOTT
PRICE
MCDERMOTT
PRICE
MCDERMOTT
MAIN
MCDERMOTT
MCDERMOTT
MCDERMOTT
PRICE
MCDERMOTT
MCDERMOTT
MCDERMOTT
MCDERMOTT
MCDERMOTT
MCDERMOTT
MCDERMOTT
MCDERMOTT

In [14]:
train_dataset['messages'][0]

[{'role': 'MCDERMOTT', 'content': 'Well,is it strictly informal-'},
 {'role': 'MAIN', 'content': 'Or can it be worn with a suit?'},
 {'role': 'MCDERMOTT', 'content': 'Exactly.'},
 {'role': 'MAIN',
  'content': 'With discreet pinstripes you should wear a subdued blue or charcoal gray vest. A plaid suit would call for a bolder vest.'},
 {'role': 'MCDERMOTT',
  'content': "But avoid matching the vest's pattern with your socks or tie. Wearing argyle socks with an argyle vest will look too studied."},
 {'role': 'MAIN',
  'content': 'Van Patten looks puffy. Has he stopped working out?'},
 {'role': 'PRICE', 'content': "It looks that way,doesn't it?"},
 {'role': 'MCDERMOTT', 'content': 'Did he just take our plates away?'},
 {'role': 'PRICE',
  'content': "He took them away because the portions are so small he probably thought we were finished. God I hate this place. This is a chick's restaurant. Why aren't we at Dorsia?"},
 {'role': 'MCDERMOTT',
  'content': "Because Bateman won't give the maitre d'head."},
 {'role': 'MCDERMOTT', 'content': 'Is that Reed Robinson over there?'},
 {'role': 'PRICE',
  'content': "Are you freebasing or what? That's not Robinson."},
 {'role': 'MCDERMOTT', 'content': 'Who is it then?'},
 {'role': 'PRICE', 'content': 'That s Paul Owen.'},
 {'role': 'MCDERMOTT', 'content': 'Who is he with?'},
 {'role': 'PRICE', 'content': 'Some weasel from Kicker Peabody.'},
 {'role': 'MCDERMOTT', 'content': "Are you sure that's Paul Owen over there?"},
 {'role': 'PRICE', 'content': 'Yes,McDufus,I am.'},
 {'role': 'MCDERMOTT', 'content': "He's handling the Fisher account."},
 {'role': 'PRICE', 'content': 'Lucky bastard.'},
 {'role': 'MCDERMOTT', 'content': 'Lucky Jew bastard.'},
 {'role': 'MAIN',
  'content': 'Oh Jesus,McDermott,what does that have to do with anything?'},
 {'role': 'MCDERMOTT',
  'content': "Listen,I've seen the bastard sitting in his office on the phone with CEO's,spinning a fucking menorah. The bastard brought a Hanukkah bush into the office last December."},
 {'role': 'MCDERMOTT',
  'content': 'Oh my god Bateman,do you want me to fry you up some fucking potato pancakes? Some latkes?'},
 {'role': 'MCDERMOTT',
  'content': "Oh I forgot. Bateman's dating someone from the ACLU."},
 {'role': 'PRICE',
  'content': 'The voice of reason. The boy next door. And speaking of reasonable...'},
 {'role': 'MCDERMOTT', 'content': 'Only $470.'},
 {'role': 'MCDERMOTT',
  'content': "Last week I picked up this Vassar chick — VAN PATTEN Oh god,I was there. I don't need to hear this story again."},
 {'role': 'MCDERMOTT',
  'content': "Oh fuck you. I want a blow-job,Bate-man. I want a chick who's gonna let me — VAN PATTEN"},
 {'role': 'MCDERMOTT',
  'content': "You prude. Listen,we're not gonna invest in a co-op together or jet down to Saint Bart's. I just want some chick whose face I can sit on for thirty,forty minutes."},
 {'role': 'MCDERMOTT',
  'content': "Anyway,so we’re back at my place,and listen to this. She's had enough champagne by now to get a fucking rhino tipsy,and get this — VAN PATTEN She let you fuck her without a condom?"},
 {'role': 'MCDERMOTT',
  'content': 'This is a Vassar girl. She’s not from Queens. She would only — are you ready?'},
 {'role': 'MCDERMOTT',
  'content': "I suppose he doesn't want the car. Price,ask him if he takes American Express."},
 {'role': 'MCDERMOTT', 'content': 'What do you mean?'}]

In [8]:
train_dataset['messages']

[[{'role': 'MCDERMOTT', 'content': 'Well,is it strictly informal-'},
  {'role': 'MAIN', 'content': 'Or can it be worn with a suit?'},
  {'role': 'MCDERMOTT', 'content': 'Exactly.'},
  {'role': 'MAIN',
   'content': 'With discreet pinstripes you should wear a subdued blue or charcoal gray vest. A plaid suit would call for a bolder vest.'},
  {'role': 'MCDERMOTT',
   'content': "But avoid matching the vest's pattern with your socks or tie. Wearing argyle socks with an argyle vest will look too studied."},
  {'role': 'MAIN',
   'content': 'Van Patten looks puffy. Has he stopped working out?'},
  {'role': 'PRICE', 'content': "It looks that way,doesn't it?"},
  {'role': 'MCDERMOTT', 'content': 'Did he just take our plates away?'},
  {'role': 'PRICE',
   'content': "He took them away because the portions are so small he probably thought we were finished. God I hate this place. This is a chick's restaurant. Why aren't we at Dorsia?"},
  {'role': 'MCDERMOTT',
   'content': "Because Bateman won't give the maitre d'head."},
  {'role': 'MCDERMOTT', 'content': 'Is that Reed Robinson over there?'},
  {'role': 'PRICE',
   'content': "Are you freebasing or what? That's not Robinson."},
  {'role': 'MCDERMOTT', 'content': 'Who is it then?'},
  {'role': 'PRICE', 'content': 'That s Paul Owen.'},
  {'role': 'MCDERMOTT', 'content': 'Who is he with?'},
  {'role': 'PRICE', 'content': 'Some weasel from Kicker Peabody.'},
  {'role': 'MCDERMOTT',
   'content': "Are you sure that's Paul Owen over there?"},
  {'role': 'PRICE', 'content': 'Yes,McDufus,I am.'},
  {'role': 'MCDERMOTT', 'content': "He's handling the Fisher account."},
  {'role': 'PRICE', 'content': 'Lucky bastard.'},
  {'role': 'MCDERMOTT', 'content': 'Lucky Jew bastard.'},
  {'role': 'MAIN',
   'content': 'Oh Jesus,McDermott,what does that have to do with anything?'},
  {'role': 'MCDERMOTT',
   'content': "Listen,I've seen the bastard sitting in his office on the phone with CEO's,spinning a fucking menorah. The bastard brought a Hanukkah bush into the office last December."},
  {'role': 'MCDERMOTT',
   'content': 'Oh my god Bateman,do you want me to fry you up some fucking potato pancakes? Some latkes?'},
  {'role': 'MCDERMOTT',
   'content': "Oh I forgot. Bateman's dating someone from the ACLU."},
  {'role': 'PRICE',
   'content': 'The voice of reason. The boy next door. And speaking of reasonable...'},
  {'role': 'MCDERMOTT', 'content': 'Only $470.'},
  {'role': 'MCDERMOTT',
   'content': "Last week I picked up this Vassar chick — VAN PATTEN Oh god,I was there. I don't need to hear this story again."},
  {'role': 'MCDERMOTT',
   'content': "Oh fuck you. I want a blow-job,Bate-man. I want a chick who's gonna let me — VAN PATTEN"},
  {'role': 'MCDERMOTT',
   'content': "You prude. Listen,we're not gonna invest in a co-op together or jet down to Saint Bart's. I just want some chick whose face I can sit on for thirty,forty minutes."},
  {'role': 'MCDERMOTT',
   'content': "Anyway,so we’re back at my place,and listen to this. She's had enough champagne by now to get a fucking rhino tipsy,and get this — VAN PATTEN She let you fuck her without a condom?"},
  {'role': 'MCDERMOTT',
   'content': 'This is a Vassar girl. She’s not from Queens. She would only — are you ready?'},
  {'role': 'MCDERMOTT',
   'content': "I suppose he doesn't want the car. Price,ask him if he takes American Express."},
  {'role': 'MCDERMOTT', 'content': 'What do you mean?'}],
 [{'role': 'PRICE',
   'content': "There’s this theory out now that if you can catch the AIDS virus through having sex with someone who is infected then you can also catch anything — Alzheimer's,muscular dystrophy,hemophilia,leukemia,diabetes,dyslexia,for Christ's sake— you can get dyslexia from pussy — BATEMAN:I'm not sure,guy,but I don't think dyslexia is a virus."},
  {'role': 'PRICE', 'content': "I'm shaking. You open it."},
  {'role': 'PRICE', 'content': "Jeez. That's not a helluva a lot,is it?"},
  {'role': 'MAIN', 'content': "Maybe it's just the light."},
  {'role': 'PRICE', 'content': 'Is he fucking selling it by the milligram?'},
  {'role': 'MAIN', 'content': 'What?'},
  {'role': 'PRICE', 'content': "It's a fucking milligram of Sweet 'n' Low!"},
  {'role': 'MAIN',
   'content': "It's definitely weak but I have a feeling if we do enough of it we'll be okay."},
  {'role': 'PRICE',
   'content': 'I want to get high off this,Bateman,not sprinkle it on my fucking All-Bran.'},
  {'role': 'PRICE', 'content': 'SHUT UP!'},
  {'role': 'MAIN', 'content': "Calm down. Let's do it anyway."},
  {'role': 'PRICE', 'content': "I guess you're right..."},
  {'role': 'PRICE', 'content': 'No,FUCK YOU!!'},
  {'role': 'MAIN', 'content': "That's the spirit."}],
 [{'role': 'PRICE', 'content': 'You take AmEx,dude?'},
  {'role': 'MAN', 'content': 'Morning,Hamilton. Nice tan.'},
  {'role': 'JEAN', 'content': 'Late?'},
  {'role': 'MAIN', 'content': 'Aerobics class. Sorry. Any messages?'},
  {'role': 'JEAN',
   'content': "Ricky Hendricks has to cancel today. He didn't say what he was canceling or why."},
  {'role': 'MAIN',
   'content': 'I occasionally box with Ricky at the Harvard Club. Anyone else?'},
  {'role': 'JEAN',
   'content': 'And... Spencer wants to meet you for a drink at Fluties Pier 17.'},
  {'role': 'MAIN', 'content': 'When?'},
  {'role': 'JEAN', 'content': 'After six.'},
  {'role': 'MAIN', 'content': 'Negative. Cancel it.'},
  {'role': 'JEAN', 'content': 'Oh? And what should I say?'},
  {'role': 'MAIN', 'content': 'Just...say...no.'},
  {'role': 'JEAN', 'content': 'Just say no?'},
  {'role': 'MAIN',
   'content': 'Okay,Jean. I need reservations for three at Camols at twelve-thirty,and if not there,try Crayons. All right?'},
  {'role': 'JEAN', 'content': 'Yes sir.'},
  {'role': 'MAIN',
   'content': 'Oh wait. And I need reservations for two at Arcadia at eight tonight.'},
  {'role': 'JEAN', 'content': 'Oh,something...romantic?'},
  {'role': 'JEAN', 'content': "I'll do it."},
  {'role': 'MAIN',
   'content': 'No. No. Be a doll and just get me a Perrier,okay?'},
  {'role': 'JEAN', 'content': 'You look nice today.'},
  {'role': 'JEAN', 'content': 'Yes?'},
  {'role': 'MAIN',
   'content': "Is that the Ransom file? Thanks. Don't wear that outfit again."},
  {'role': 'JEAN', 'content': "Ummm... what? I didn't hear you."},
  {'role': 'MAIN',
   'content': "I said 'Do not wear that outfit again'. Wear a dress. A skirt or something."},
  {'role': 'JEAN', 'content': 'You don’t like this,I take it?'},
  {'role': 'MAIN', 'content': "Come on,you're prettier than that."},
  {'role': 'JEAN', 'content': 'Thanks,Patrick.'},
  {'role': 'MAIN',
   'content': "I'm not here. And high heels. I like high heels."}],
 [{'role': 'EVELYN',
   'content': "I'd want a zydeco band,Patrick. That's what I'd want,a zydeco band. Or mariachi. Or reggae. Something ethnic to shock daddy. Oh,I can't decide... And lots of chocolate truffles. Godiva. And oysters on the half-shell."},
  {'role': 'EVELYN',
   'content': "Marzipan. Pink tents. Hundreds,thousands of roses. Photographers. Annie Leibovitz. We'll get Annie Liebovitz. And we'll hire someone to videotape. Patrick,we should do it."},
  {'role': 'MAIN', 'content': 'Do....what.'},
  {'role': 'EVELYN', 'content': 'Get married. Have a wedding.'},
  {'role': 'MAIN', 'content': 'Evelyn?'},
  {'role': 'EVELYN', 'content': 'Yes,darling?'},
  {'role': 'MAIN', 'content': 'Is your Evian spiked?'},
  {'role': 'EVELYN', 'content': 'We should do it.'},
  {'role': 'MAIN', 'content': "No — I can't take the time off work."},
  {'role': 'EVELYN',
   'content': 'Your father practically owns the company. You can do anything you like,silly.'},
  {'role': 'MAIN', 'content': "I don't want to talk about it."},
  {'role': 'EVELYN',
   'content': "Well you hate that job anyway. Why don't you just quit? You don't have to work."},
  {'role': 'MAIN', 'content': 'Because I...want...to... fit...in.'},
  {'role': 'PRICE', 'content': "The menu's in braille."},
  {'role': 'PRICE', 'content': 'I have to talk to you.'},
  {'role': 'EVELYN',
   'content': "Pat,this my cousin Vanden and her boyfriend Stash. He's an artist."},
  {'role': 'MAIN', 'content': 'Hi. Pat Bateman.'},
  {'role': 'MAIN', 'content': 'Let me guess - you live in the East Village?'},
  {'role': 'STASH', 'content': 'Soho.'},
  {'role': 'COURTNEY', 'content': 'Stop it!'},
  {'role': 'COURTNEY',
   'content': 'Tell me,Stash...do you think Soho is becoming too...commercial?'},
  {'role': 'CARRUTHERS', 'content': 'Yes,I read that.'},
  {'role': 'PRICE', 'content': "Oh,who gives a rat's ass?"},
  {'role': 'VANDEN', 'content': 'Hey. That affects us.'},
  {'role': 'PRICE',
   'content': "Oh ho ho. That affects us? What about the massacres in Sri Lanka,honey? Doesn't that affect us,too? I mean don't you know anything about Sri Lanka? About how the Sikhs are killing like tons of Israelis there? Doesn't that affect us?"},
  {'role': 'MAIN',
   'content': 'Oh come on,Price. There are a lot more important problems than Sri Lanka to worry about. Sure our foreign policy is important,but there are more pressing problems at hand.'},
  {'role': 'PRICE', 'content': 'Like what?'},
  {'role': 'MAIN',
   'content': 'We also have to control the influx of illegal immigrants. We have to encourage a return to traditional moral values and curb graphic sex and violence on TV,in movies,in pop music,everywhere. Most importantly we have to promote general social concern and less materialism in young people.'},
  {'role': 'CARRUTHERS', 'content': 'Patrick,how thought provoking.'},
  {'role': 'MAIN', 'content': 'Why don’t you just go for Price?'},
  {'role': 'EVELYN', 'content': 'Oh god Patrick. Why Price? Price?'},
  {'role': 'MAIN', 'content': "He's rich."},
  {'role': 'EVELYN', 'content': "Everybody's rich."},
  {'role': 'MAIN', 'content': "He's good-looking."},
  {'role': 'MAIN', 'content': 'He has a great body.'},
  {'role': 'EVELYN', 'content': 'Everybody has a great body now.'},
  {'role': 'EVELYN',
   'content': 'What do you want me to do with that,floss with it?'},
  {'role': 'EVELYN', 'content': 'Are you using minoxidil?'},
  {'role': 'MAIN', 'content': "No. I'm not. Why should I?"},
  {'role': 'EVELYN', 'content': "Your hairline looks like it's receding."},
  {'role': 'MAIN', 'content': 'It’s not.'},
  {'role': 'MAIN', 'content': 'Hello.'},
  {'role': 'MAIN',
   'content': "Listen,wait. You’re not...shhh wait... you're not giving me valid reasons."},
  {'role': 'MAIN', 'content': 'What are you trying to say to me?'},
  {'role': 'MAIN',
   'content': 'Bleach-ee? Are you trying to say bleach-ee? Bleach-ee. Oh my god.'},
  {'role': 'MAIN',
   'content': "Two things. One. You can't bleach a Soprani. Out of the question. Two -"},
  {'role': 'MAIN',
   'content': "If you don't shut your fucking mouth I will kill you,are you understanding me?"},
  {'role': 'MAIN',
   'content': 'NoW listen - I have a very important lunch meeting.'},
  {'role': 'MAIN', 'content': 'Listen. I cannot understand you.'},
  {'role': 'MAIN',
   'content': "This is crazy. You're a fool. I can't cope with this."}],
 [{'role': 'VICTORIA', 'content': 'Patrick?'},
  {'role': 'VICTORIA', 'content': 'Hi,Patrick. I thought that was you.'},
  {'role': 'MAIN', 'content': 'Hello'},
  {'role': 'MAIN', 'content': 'Well.'},
  {'role': 'VICTORIA',
   'content': "Isn't it ridiculous? Coming all the way up here,but you know,they really are the best."},
  {'role': 'MAIN',
   'content': "Then why can't they get these stains out? I mean can you talk to these people or something? I'm not getting anywhere."},
  {'role': 'VICTORIA', 'content': 'Oh my,I see. What are those? Oh my.'},
  {'role': 'MAIN', 'content': "Um,well... it's cranberry juice. Crahapple."},
  {'role': 'VICTORIA', 'content': 'Really?'},
  {'role': 'MAIN',
   'content': "Well,I mean,um,it's really ... Bosco. You know,like...like a Dove Bar. It's a Dove Bar... Hershey's Syrup?"},
  {'role': 'VICTORIA', 'content': 'Oh yeah. Oh I get it. Fun with chocolate.'},
  {'role': 'MAIN', 'content': 'Listen,if you could talk to them'},
  {'role': 'VICTORIA',
   'content': "Hubert's? Oh really? It moved uptown,right?"},
  {'role': 'MAIN',
   'content': "Yeah,well,oh boy,listen,I've got to go. Thank you,uh...Victoria?"},
  {'role': 'VICTORIA',
   'content': "Maybe we could have lunch one day next week? You know,I'm downtown near Wall Street quite often."},
  {'role': 'MAIN',
   'content': "Oh,I don't know,Victoria. I'm at work all the time."},
  {'role': 'MAIN', 'content': 'Next Saturday?'},
  {'role': 'VICTORIA', 'content': 'Yeah.'},
  {'role': 'MAIN',
   'content': "Oh,can't,I'm afraid. Matinee of Les Miserables. Listen,I've really got to go. I'll... Oh Christ... I'll call you."},
  {'role': 'VICTORIA', 'content': 'Okay. Do.'}],
 [{'role': 'MAIN', 'content': 'Listen,what are you doing tonight?'},
  {'role': 'COURTNEY', 'content': "What? Oh,I'm... busy."},
  {'role': 'MAIN',
   'content': "Listen,you're dating Luis,he's in Arizona. You're fucking me,and we haven’t made plans. What could you possibly be up to tonight?"},
  {'role': 'COURTNEY', 'content': "Stop it. I'm..."},
  {'role': 'MAIN', 'content': 'On‘a lot of Lithium?'},
  {'role': 'COURTNEY',
   'content': "Waiting for Luis to call me. He said he'd call tonight. Oh don't be difficult,Patrick."},
  {'role': 'MAIN', 'content': 'You should come have dinner with me.'},
  {'role': 'COURTNEY', 'content': 'But - when?'},
  {'role': 'MAIN',
   'content': 'Am I confused or were we talking about tonight?'},
  {'role': 'COURTNEY',
   'content': 'Ummm.... yeah. Luis is calling me tonight. I need to be home for that.'},
  {'role': 'MAIN', 'content': 'Pumpkin?'},
  {'role': 'COURTNEY', 'content': 'Yes?'},
  {'role': 'MAIN', 'content': "Pumpkin you're dating an asshole."},
  {'role': 'COURTNEY', 'content': 'Uh huh.'},
  {'role': 'MAIN',
   'content': "Pumpkin you're dating the biggest dickweed in New York."},
  {'role': 'COURTNEY', 'content': 'I know. Stop it.'},
  {'role': 'MAIN',
   'content': "Pumpkin,you're-dating a tumbling,tumbling dickweed."},
  {'role': 'COURTNEY',
   'content': "Patrick don't call me pumpkin anymore,okay? I have to go."},
  {'role': 'MAIN', 'content': 'Courtney? dinner?'},
  {'role': 'COURTNEY', 'content': "I can't."},
  {'role': 'MAIN', 'content': "I'm thinking Dorsia."},
  {'role': 'COURTNEY', 'content': "Dorsia's nice."},
  {'role': 'MAIN', 'content': 'Nice?'},
  {'role': 'COURTNEY', 'content': "You like it there,don't you?"},
  {'role': 'MAIN',
   'content': 'The question is,do you like it Courtney? And will you blow off a fucking phone call from your sad excuse for a boyfriend to eat there tonight.'},
  {'role': 'COURTNEY', 'content': 'Okay. Yeah. What time?'},
  {'role': 'MAIN', 'content': 'Eight?'},
  {'role': 'COURTNEY', 'content': 'Pick me up?'},
  {'role': 'MAIN',
   'content': "Sounds like I'll have to. Don't fall asleep,okay? Wear something fabulous. Dorsia,remember?"},
  {'role': 'MAIN',
   'content': "Umm..yes.. I know it's a little late but is it possible to reserve a table for two at eight or eight- thirty perhaps?"},
  {'role': 'COURTNEY',
   'content': '... a facial at Elisabeth Arden,which was really relaxing,then to the Pottery Barn where I bought this silver muffin dish...'},
  {'role': 'COURTNEY', 'content': 'Oh god,Patrick. Shut up.'},
  {'role': 'MAIN',
   'content': 'You know,Courtney,you should take some more lithium. Or have a Diet Coke. Some caffeine might get you out of this slump.'},
  {'role': 'COURTNEY',
   'content': 'I just want to have a child. Just...two... perfect.. children...'},
  {'role': 'MAIN', 'content': 'J&B. Straight.'},
  {'role': 'COURTNEY',
   'content': 'Champagne on the rocks. Oh - could I have that - with a twist?'},
  {'role': 'MAIN', 'content': 'Yes.'},
  {'role': 'COURTNEY', 'content': 'This is Dorsia?'},
  {'role': 'MAIN', 'content': 'Yes dear.'},
  {'role': 'MAIN',
   'content': 'Courtney,you\'re going to have the peanut butter soup with smoked duck and mashed squash. NY Magazine called it a "playful but mysterious little dish." You\'ll love it. And then... the red snapper with violets and pine nuts. I think that\'ll follow nicely.'},
  {'role': 'COURTNEY', 'content': 'Mmmm... thanks,Patrick.'},
  {'role': 'COURTNEY', 'content': 'I want you to fuck me.'},
  {'role': 'COURTNEY', 'content': 'Luis is a despicable twit.'},
  {'role': 'MAIN', 'content': 'Yes,Luis is a despicable twit. I hate him.'},
  {'role': 'COURTNEY',
   'content': "No,you idiot. I said 'Is it a receptacle tip?' Not is Luis a despicable twit. Is it a receptacle tip? Get off me."},
  {'role': 'MAIN', 'content': 'Is it a what?'},
  {'role': 'COURTNEY', 'content': 'Pull out.'},
  {'role': 'MAIN', 'content': "I'm ignoring you."},
  {'role': 'COURTNEY', 'content': 'Pull out goddamnit!'},
  {'role': 'MAIN', 'content': 'What do you want,Courtney?'},
  {'role': 'MAIN', 'content': "It's a plain end. I think."},
  {'role': 'COURTNEY', 'content': 'Turn the light on.'},
  {'role': 'MAIN', 'content': "Oh Jesus. I'm going home."},
  {'role': 'COURTNEY', 'content': 'Patrick. Turn oh the light.'},
  {'role': 'MAIN', 'content': "It's a plain end,see? So?"},
  {'role': 'COURTNEY', 'content': 'Take it off.'},
  {'role': 'MAIN', 'content': 'Why?'},
  {'role': 'COURTNEY',
   'content': 'Because you have to leave half an inch at the tip-'},
  {'role': 'MAIN',
   'content': "I'm getting out of here. Where's your lithium?"},
  {'role': 'COURTNEY',
   'content': "Do you think you're turning me on by having unsafe sex?"},
  {'role': 'MAIN',
   'content': "Oh Christ,this really isn't worth it. And see,Courtney,it's there for what? Huh? Tell us."},
  {'role': 'COURTNEY',
   'content': "Well,it's not a turn-on for me. I have a promotion coming to me. I don't want to get AIDS."},
  {'role': 'MAIN',
   'content': 'See? Happy? You dumb bitch? Are you happy you dumb bitch?'},
  {'role': 'COURTNEY', 'content': 'Oh god just get it over with.'},
  {'role': 'CARRUTHERS',
   'content': 'Patrick,thanks so much for looking after Courtney. Dorsia,how impressive! How on earth did you get a reservation there?'},
  {'role': 'MAIN', 'content': 'Lucky,I guess.'},
  {'role': 'CARRUTHERS',
   'content': "That's a wonderful jacket. Let me guess,Valentino Couture?"},
  {'role': 'MAIN', 'content': 'Uh huh.'},
  {'role': 'CARRUTHERS', 'content': 'It looks so soft.'}],
 [{'role': 'MAIN', 'content': 'Your compliment was sufficient,Luis.'},
  {'role': 'OWEN',
   'content': 'Hello Halberstam. Nice tie. How the hell are you?'},
  {'role': 'MAIN', 'content': "I've been great. And you?"},
  {'role': 'OWEN', 'content': "How's the Ransom account going,Marcus?"},
  {'role': 'MAIN', 'content': "It's — it's..all right."},
  {'role': 'OWEN', 'content': 'Really? That’s interesting,'},
  {'role': 'MAIN', 'content': 'Oh well,you know.'},
  {'role': 'OWEN', 'content': "And how's Cecilia? She's a great girl."},
  {'role': 'MAIN', 'content': "Oh yes. I'm very lucky."},
  {'role': 'MCDERMOTT',
   'content': 'Hey Owen! Congratulations on the Fisher account.'},
  {'role': 'OWEN', 'content': 'Thank you,Baxter.'},
  {'role': 'PRICE', 'content': 'Listen,Paul. Squash?'},
  {'role': 'OWEN', 'content': 'Call me.'},
  {'role': 'OWEN',
   'content': 'No can do. Got a res at 8:3.0 at Dorsia. Great sea urchin ceviche.'},
  {'role': 'PRICE',
   'content': "Jesus. Dorsia? On a Friday night? How'd he swing that?"},
  {'role': 'MCDERMOTT', 'content': "I think he's lying."},
  {'role': 'PRICE', 'content': "What's that,a gram?"},
  {'role': 'MAIN', 'content': 'New card. What do you think?'},
  {'role': 'MCDERMOTT', 'content': 'Whoa. Very nice. Take a look.'},
  {'role': 'MAIN', 'content': "Picked them up from the printer's yesterday."},
  {'role': 'MAIN',
   'content': "That's bone. And the lettering is something called Silian Rail."},
  {'role': 'MCDERMOTT', 'content': 'Silian Rail?'},
  {'role': 'PRICE', 'content': "That's really nice."},
  {'role': 'MAIN', 'content': 'Nice.'},
  {'role': 'PRICE',

In [2]:
# Load jsonl data from disk
dataset = load_dataset("json", data_files="train_dataset.json", split="train")

Generating train split: 0 examples [00:00, ? examples/s]

In [3]:
dataset

Dataset({
    features: ['messages'],
    num_rows: 10000
})

In [4]:
dataset['messages']

[[{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_72 (pick INTEGER, player_name VARCHAR, year VARCHAR)',
   'role': 'system'},
  {'content': 'What pick was mario williams before 2006?', 'role': 'user'},
  {'content': 'SELECT SUM(pick) FROM table_name_72 WHERE player_name = "mario williams" AND year < 2006',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_76 (date VARCHAR, runner_s__up VARCHAR)',
   'role': 'system'},
  {'content': 'What date did Ian poulter become runner up?', 'role': 'user'},
  {'content': 'SELECT date FROM table_name_76 WHERE runner_s__up = "ian poulter"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_97 (to_par INTEGER, total VARCHAR, year_s__won VARCHAR)',
   'role': 'system'},
  {'content': 'What is the lowest To par, when Total is greater than 148, and when Year(s) Won is "1959 , 1968 , 1974"?',
   'role': 'user'},
  {'content': 'SELECT MIN(to_par) FROM table_name_97 WHERE total < 148 AND year_s__won = "1959 , 1968 , 1974"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_30 (score VARCHAR, february VARCHAR, game VARCHAR)',
   'role': 'system'},
  {'content': 'What was the score after february 4 in the game 61?',
   'role': 'user'},
  {'content': 'SELECT score FROM table_name_30 WHERE february > 4 AND game = 61',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_25 (tracking_method VARCHAR, latest_stable_release VARCHAR, price_in_usd VARCHAR)',
   'role': 'system'},
  {'content': 'Which Tracking Method has a Latest stable release of n/a, and a Price in USD of from $202/month?',
   'role': 'user'},
  {'content': 'SELECT tracking_method FROM table_name_25 WHERE latest_stable_release = "n/a" AND price_in_usd = "from $202/month"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_53 (date VARCHAR, venue VARCHAR, attendance VARCHAR)',
   'role': 'system'},
  {'content': 'When Venue of A has Attendance of 4,365?', 'role': 'user'},
  {'content': 'SELECT date FROM table_name_53 WHERE venue = "a" AND attendance = "4,365"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_5 (chassis VARCHAR, points VARCHAR)',
   'role': 'system'},
  {'content': 'What chassis had 39 points?', 'role': 'user'},
  {'content': 'SELECT chassis FROM table_name_5 WHERE points = "39"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_2544694_3 (indonesia_super_series_2008 VARCHAR, runner_up VARCHAR)',
   'role': 'system'},
  {'content': 'Which series occurred in which the semi-finalist was runner-up and the 7800.00 was 6420.00?',
   'role': 'user'},
  {'content': 'SELECT indonesia_super_series_2008 FROM table_2544694_3 WHERE runner_up = "Semi-Finalist" AND 780000 = "6420.00"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_85 (college_junior_club_team VARCHAR, round INTEGER)',
   'role': 'system'},
  {'content': 'What is the college club that plays before round 3?',
   'role': 'user'},
  {'content': 'SELECT college_junior_club_team FROM table_name_85 WHERE round < 3',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_37 (lane VARCHAR, swimmer VARCHAR)',
   'role': 'system'},
  {'content': 'Which lane is Goksu Bicer in?', 'role': 'user'},
  {'content': 'SELECT lane FROM table_name_37 WHERE swimmer = "goksu bicer"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_65 (college VARCHAR, overall VARCHAR)',
   'role': 'system'},
  {'content': 'Name the college with overall of 17', 'role': 'user'},
  {'content': 'SELECT college FROM table_name_65 WHERE overall = 17',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_23248869_8 (high_assists VARCHAR, score VARCHAR)',
   'role': 'system'},
  {'content': 'Who had the high assists when the score was l 85–118 (ot)',
   'role': 'user'},
  {'content': 'SELECT high_assists FROM table_23248869_8 WHERE score = "L 85–118 (OT)"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_5 (decision VARCHAR, series VARCHAR, visitor VARCHAR, score VARCHAR)',
   'role': 'system'},
  {'content': 'Which Decision has a Visitor of calgary, a Score of 2 – 1, and a Series of 4 – 3?',
   'role': 'user'},
  {'content': 'SELECT decision FROM table_name_5 WHERE visitor = "calgary" AND score = "2 – 1" AND series = "4 – 3"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_29619494_2 (season VARCHAR, apocalypstix VARCHAR)',
   'role': 'system'},
  {'content': 'How many seasons did Apocalypstix place 2nd?', 'role': 'user'},
  {'content': 'SELECT COUNT(season) FROM table_29619494_2 WHERE apocalypstix = "2nd"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_60 (week INTEGER, game_site VARCHAR, attendance VARCHAR)',
   'role': 'system'},
  {'content': 'Game site of miami orange bowl, and a Attendance larger than 49,754 happened on what highest week?',
   'role': 'user'},
  {'content': 'SELECT MAX(week) FROM table_name_60 WHERE game_site = "miami orange bowl" AND attendance > 49 OFFSET 754',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_81 (stadium VARCHAR, team VARCHAR)',
   'role': 'system'},
  {'content': 'what is the stadium for čakovec?', 'role': 'user'},
  {'content': 'SELECT stadium FROM table_name_81 WHERE team = "čakovec"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_28 (seasons INTEGER, spells VARCHAR, drawn VARCHAR, rank VARCHAR)',
   'role': 'system'},
  {'content': 'What is the highest season number with 57 draws, rank 20, and more than 1 spell?',
   'role': 'user'},
  {'content': 'SELECT MAX(seasons) FROM table_name_28 WHERE drawn = 57 AND rank = 20 AND spells > 1',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_1404486_1 (code VARCHAR, population_census_2009 VARCHAR)',
   'role': 'system'},
  {'content': 'what is the code of population census 2009 is 1356301?',
   'role': 'user'},
  {'content': 'SELECT code FROM table_1404486_1 WHERE population_census_2009 = 1356301',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_43 (season VARCHAR, last_air_date VARCHAR)',
   'role': 'system'},
  {'content': 'Which season had its last episode air on March 11, 2001?',
   'role': 'user'},
  {'content': 'SELECT season FROM table_name_43 WHERE last_air_date = "march 11, 2001"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_20745746_1 (attendance INTEGER, date VARCHAR)',
   'role': 'system'},
  {'content': 'What was attendance on March 11, 1995?', 'role': 'user'},
  {'content': 'SELECT MIN(attendance) FROM table_20745746_1 WHERE date = "March 11, 1995"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_10 (second VARCHAR, skip VARCHAR)',
   'role': 'system'},
  {'content': "Which second's skip is Chris Plys?", 'role': 'user'},
  {'content': 'SELECT second FROM table_name_10 WHERE skip = "chris plys"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_25580292_13 (aggressive_rider VARCHAR, winner VARCHAR)',
   'role': 'system'},
  {'content': 'Who was the aggressive rider when the winner was luis león sánchez?',
   'role': 'user'},
  {'content': 'SELECT aggressive_rider FROM table_25580292_13 WHERE winner = "Luis León Sánchez"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_39 (manufacturer VARCHAR, laps VARCHAR, grid VARCHAR)',
   'role': 'system'},
  {'content': 'WHAT IS THE MANUFACTURER WITH 24 LAPS AND GRID 27?',
   'role': 'user'},
  {'content': 'SELECT manufacturer FROM table_name_39 WHERE laps = "24" AND grid = "27"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_28243691_1 (enrollment INTEGER, founded VARCHAR)',
   'role': 'system'},
  {'content': 'List the highest number of students in attendance for the institution that started in 1923.',
   'role': 'user'},
  {'content': 'SELECT MAX(enrollment) FROM table_28243691_1 WHERE founded = 1923',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_19741316_1 (races INTEGER, position VARCHAR)',
   'role': 'system'},
  {'content': 'What was the number of races in the season in which the team placed on the 14th position?',
   'role': 'user'},
  {'content': 'SELECT MIN(races) FROM table_19741316_1 WHERE position = "14th"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE staff (staff_name VARCHAR, staff_id VARCHAR); CREATE TABLE staff_department_assignments (job_title_code VARCHAR, staff_id VARCHAR, date_assigned_to VARCHAR)',
   'role': 'system'},
  {'content': 'What is the name and job title of the staff who was assigned the latest?',
   'role': 'user'},
  {'content': 'SELECT T1.staff_name, T2.job_title_code FROM staff AS T1 JOIN staff_department_assignments AS T2 ON T1.staff_id = T2.staff_id ORDER BY T2.date_assigned_to DESC LIMIT 1',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_91 (home_team VARCHAR)',
   'role': 'system'},
  {'content': "What was Melbourne's score as the home team?", 'role': 'user'},
  {'content': 'SELECT home_team AS score FROM table_name_91 WHERE home_team = "melbourne"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_5 (matches INTEGER, prize_money VARCHAR)',
   'role': 'system'},
  {'content': 'What is the highest Matches, when Prize Money is £5,000?',
   'role': 'user'},
  {'content': 'SELECT MAX(matches) FROM table_name_5 WHERE prize_money = "£5,000"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_29 (mwehl_team VARCHAR, player VARCHAR)',
   'role': 'system'},
  {'content': 'Which MWEHL team has player Ben Johnson?', 'role': 'user'},
  {'content': 'SELECT mwehl_team FROM table_name_29 WHERE player = "ben johnson"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_22982552_9 (class_year INTEGER, player VARCHAR)',
   'role': 'system'},
  {'content': 'What class year was Vencie Glenn from? ', 'role': 'user'},
  {'content': 'SELECT MIN(class_year) FROM table_22982552_9 WHERE player = "Vencie Glenn"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE Documents (document_id VARCHAR, document_status_code VARCHAR, document_type_code VARCHAR)',
   'role': 'system'},
  {'content': 'List the document ids for any documents with the status code done and the type code paper.',
   'role': 'user'},
  {'content': 'SELECT document_id FROM Documents WHERE document_status_code = "done" AND document_type_code = "Paper"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_18 (ship VARCHAR, nationality VARCHAR)',
   'role': 'system'},
  {'content': 'What ship has a norway nationality?', 'role': 'user'},
  {'content': 'SELECT ship FROM table_name_18 WHERE nationality = "norway"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_1216675_1 (chapter INTEGER, pinyin VARCHAR)',
   'role': 'system'},
  {'content': 'What chapter number is Shiqiu?', 'role': 'user'},
  {'content': 'SELECT MIN(chapter) FROM table_1216675_1 WHERE pinyin = "Shiqiu"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_2135222_2 (density VARCHAR, english_name VARCHAR)',
   'role': 'system'},
  {'content': 'How many figures are there for density for Yucheng County?',
   'role': 'user'},
  {'content': 'SELECT COUNT(density) FROM table_2135222_2 WHERE english_name = "Yucheng County"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_1140083_2 (rnd VARCHAR, pole_position VARCHAR, fastest_lap VARCHAR)',
   'role': 'system'},
  {'content': 'How many rounds were won with James Hunt as pole position and John Watson as  fastest lap?',
   'role': 'user'},
  {'content': 'SELECT COUNT(rnd) FROM table_1140083_2 WHERE pole_position = "James Hunt" AND fastest_lap = "John Watson"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_52 (transfer_window VARCHAR, source VARCHAR, moving_from VARCHAR)',
   'role': 'system'},
  {'content': 'What is the transfer window of the Leeds United source with a move from Motherwell?',
   'role': 'user'},
  {'content': 'SELECT transfer_window FROM table_name_52 WHERE source = "leeds united" AND moving_from = "motherwell"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_27 (capacity VARCHAR, venue VARCHAR)',
   'role': 'system'},
  {'content': 'What is the capacity number for Yunost?', 'role': 'user'},
  {'content': 'SELECT COUNT(capacity) FROM table_name_27 WHERE venue = "yunost"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE Aircraft (aid VARCHAR, distance INTEGER)',
   'role': 'system'},
  {'content': 'Show ids for all aircrafts with more than 1000 distance.',
   'role': 'user'},
  {'content': 'SELECT aid FROM Aircraft WHERE distance > 1000',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_51 (wins INTEGER, losses INTEGER)',
   'role': 'system'},
  {'content': 'For the teams that had less than 1 loss, what was the average number of Wins?',
   'role': 'user'},
  {'content': 'SELECT AVG(wins) FROM table_name_51 WHERE losses < 1',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_81 (opponent VARCHAR, date VARCHAR)',
   'role': 'system'},
  {'content': 'What opponent has april 23 as the date?', 'role': 'user'},
  {'content': 'SELECT opponent FROM table_name_81 WHERE date = "april 23"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_8 (year INTEGER, score_qualifying VARCHAR, rank_final VARCHAR, apparatus VARCHAR)',
   'role': 'system'},
  {'content': 'Name the Year with a Rank-Final smaller than 2, an Apparatus of team, and a Score-Qualifying smaller than 248.275?',
   'role': 'user'},
  {'content': 'SELECT AVG(year) FROM table_name_8 WHERE rank_final < 2 AND apparatus = "team" AND score_qualifying < 248.275',
   'role': 'assistant'}],