In [1]:
from datasets import load_dataset
 
# Convert dataset to OAI messages
system_message = """You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.
SCHEMA:
{schema}"""
 
def create_conversation(sample):
  return {
    "messages": [
      {"role": "system", "content": system_message.format(schema=sample["context"])},
      {"role": "user", "content": sample["question"]},
      {"role": "assistant", "content": sample["answer"]}
    ]
  }
 
# Load dataset from the hub
dataset = load_dataset("b-mc2/sql-create-context", split="train")
dataset = dataset.shuffle().select(range(12500))
 
# Convert dataset to OAI messages
dataset = dataset.map(create_conversation, remove_columns=dataset.features,batched=False)
# split dataset into 10,000 training samples and 2,500 test samples
dataset = dataset.train_test_split(test_size=2500/12500)
 
print(dataset["train"][345]["messages"])
 
# save datasets to disk
dataset["train"].to_json("train_dataset.json", orient="records")
dataset["test"].to_json("test_dataset.json", orient="records")

README.md:   0%|          | 0.00/4.43k [00:00<?, ?B/s]

Map:   0%|          | 0/12500 [00:00<?, ? examples/s]

[{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_22347090_6 (directed_by VARCHAR, us_viewers__million_ VARCHAR)', 'role': 'system'}, {'content': 'How many directors are there for the episode that had 1.59 million U.S. viewers?', 'role': 'user'}, {'content': 'SELECT COUNT(directed_by) FROM table_22347090_6 WHERE us_viewers__million_ = "1.59"', 'role': 'assistant'}]

Creating json from Arrow format:   0%|          | 0/10 [00:00<?, ?ba/s]

Creating json from Arrow format:   0%|          | 0/3 [00:00<?, ?ba/s]

1189717

In [2]:
# Load jsonl data from disk
dataset = load_dataset("json", data_files="train_dataset.json", split="train")

Generating train split: 0 examples [00:00, ? examples/s]

In [3]:
dataset

Dataset({
    features: ['messages'],
    num_rows: 10000
})

In [4]:
dataset['messages']

[[{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_72 (pick INTEGER, player_name VARCHAR, year VARCHAR)',
   'role': 'system'},
  {'content': 'What pick was mario williams before 2006?', 'role': 'user'},
  {'content': 'SELECT SUM(pick) FROM table_name_72 WHERE player_name = "mario williams" AND year < 2006',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_76 (date VARCHAR, runner_s__up VARCHAR)',
   'role': 'system'},
  {'content': 'What date did Ian poulter become runner up?', 'role': 'user'},
  {'content': 'SELECT date FROM table_name_76 WHERE runner_s__up = "ian poulter"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_97 (to_par INTEGER, total VARCHAR, year_s__won VARCHAR)',
   'role': 'system'},
  {'content': 'What is the lowest To par, when Total is greater than 148, and when Year(s) Won is "1959 , 1968 , 1974"?',
   'role': 'user'},
  {'content': 'SELECT MIN(to_par) FROM table_name_97 WHERE total < 148 AND year_s__won = "1959 , 1968 , 1974"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_30 (score VARCHAR, february VARCHAR, game VARCHAR)',
   'role': 'system'},
  {'content': 'What was the score after february 4 in the game 61?',
   'role': 'user'},
  {'content': 'SELECT score FROM table_name_30 WHERE february > 4 AND game = 61',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_25 (tracking_method VARCHAR, latest_stable_release VARCHAR, price_in_usd VARCHAR)',
   'role': 'system'},
  {'content': 'Which Tracking Method has a Latest stable release of n/a, and a Price in USD of from $202/month?',
   'role': 'user'},
  {'content': 'SELECT tracking_method FROM table_name_25 WHERE latest_stable_release = "n/a" AND price_in_usd = "from $202/month"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_53 (date VARCHAR, venue VARCHAR, attendance VARCHAR)',
   'role': 'system'},
  {'content': 'When Venue of A has Attendance of 4,365?', 'role': 'user'},
  {'content': 'SELECT date FROM table_name_53 WHERE venue = "a" AND attendance = "4,365"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_5 (chassis VARCHAR, points VARCHAR)',
   'role': 'system'},
  {'content': 'What chassis had 39 points?', 'role': 'user'},
  {'content': 'SELECT chassis FROM table_name_5 WHERE points = "39"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_2544694_3 (indonesia_super_series_2008 VARCHAR, runner_up VARCHAR)',
   'role': 'system'},
  {'content': 'Which series occurred in which the semi-finalist was runner-up and the 7800.00 was 6420.00?',
   'role': 'user'},
  {'content': 'SELECT indonesia_super_series_2008 FROM table_2544694_3 WHERE runner_up = "Semi-Finalist" AND 780000 = "6420.00"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_85 (college_junior_club_team VARCHAR, round INTEGER)',
   'role': 'system'},
  {'content': 'What is the college club that plays before round 3?',
   'role': 'user'},
  {'content': 'SELECT college_junior_club_team FROM table_name_85 WHERE round < 3',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_37 (lane VARCHAR, swimmer VARCHAR)',
   'role': 'system'},
  {'content': 'Which lane is Goksu Bicer in?', 'role': 'user'},
  {'content': 'SELECT lane FROM table_name_37 WHERE swimmer = "goksu bicer"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_65 (college VARCHAR, overall VARCHAR)',
   'role': 'system'},
  {'content': 'Name the college with overall of 17', 'role': 'user'},
  {'content': 'SELECT college FROM table_name_65 WHERE overall = 17',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_23248869_8 (high_assists VARCHAR, score VARCHAR)',
   'role': 'system'},
  {'content': 'Who had the high assists when the score was l 85–118 (ot)',
   'role': 'user'},
  {'content': 'SELECT high_assists FROM table_23248869_8 WHERE score = "L 85–118 (OT)"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_5 (decision VARCHAR, series VARCHAR, visitor VARCHAR, score VARCHAR)',
   'role': 'system'},
  {'content': 'Which Decision has a Visitor of calgary, a Score of 2 – 1, and a Series of 4 – 3?',
   'role': 'user'},
  {'content': 'SELECT decision FROM table_name_5 WHERE visitor = "calgary" AND score = "2 – 1" AND series = "4 – 3"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_29619494_2 (season VARCHAR, apocalypstix VARCHAR)',
   'role': 'system'},
  {'content': 'How many seasons did Apocalypstix place 2nd?', 'role': 'user'},
  {'content': 'SELECT COUNT(season) FROM table_29619494_2 WHERE apocalypstix = "2nd"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_60 (week INTEGER, game_site VARCHAR, attendance VARCHAR)',
   'role': 'system'},
  {'content': 'Game site of miami orange bowl, and a Attendance larger than 49,754 happened on what highest week?',
   'role': 'user'},
  {'content': 'SELECT MAX(week) FROM table_name_60 WHERE game_site = "miami orange bowl" AND attendance > 49 OFFSET 754',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_81 (stadium VARCHAR, team VARCHAR)',
   'role': 'system'},
  {'content': 'what is the stadium for čakovec?', 'role': 'user'},
  {'content': 'SELECT stadium FROM table_name_81 WHERE team = "čakovec"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_28 (seasons INTEGER, spells VARCHAR, drawn VARCHAR, rank VARCHAR)',
   'role': 'system'},
  {'content': 'What is the highest season number with 57 draws, rank 20, and more than 1 spell?',
   'role': 'user'},
  {'content': 'SELECT MAX(seasons) FROM table_name_28 WHERE drawn = 57 AND rank = 20 AND spells > 1',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_1404486_1 (code VARCHAR, population_census_2009 VARCHAR)',
   'role': 'system'},
  {'content': 'what is the code of population census 2009 is 1356301?',
   'role': 'user'},
  {'content': 'SELECT code FROM table_1404486_1 WHERE population_census_2009 = 1356301',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_43 (season VARCHAR, last_air_date VARCHAR)',
   'role': 'system'},
  {'content': 'Which season had its last episode air on March 11, 2001?',
   'role': 'user'},
  {'content': 'SELECT season FROM table_name_43 WHERE last_air_date = "march 11, 2001"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_20745746_1 (attendance INTEGER, date VARCHAR)',
   'role': 'system'},
  {'content': 'What was attendance on March 11, 1995?', 'role': 'user'},
  {'content': 'SELECT MIN(attendance) FROM table_20745746_1 WHERE date = "March 11, 1995"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_10 (second VARCHAR, skip VARCHAR)',
   'role': 'system'},
  {'content': "Which second's skip is Chris Plys?", 'role': 'user'},
  {'content': 'SELECT second FROM table_name_10 WHERE skip = "chris plys"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_25580292_13 (aggressive_rider VARCHAR, winner VARCHAR)',
   'role': 'system'},
  {'content': 'Who was the aggressive rider when the winner was luis león sánchez?',
   'role': 'user'},
  {'content': 'SELECT aggressive_rider FROM table_25580292_13 WHERE winner = "Luis León Sánchez"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_39 (manufacturer VARCHAR, laps VARCHAR, grid VARCHAR)',
   'role': 'system'},
  {'content': 'WHAT IS THE MANUFACTURER WITH 24 LAPS AND GRID 27?',
   'role': 'user'},
  {'content': 'SELECT manufacturer FROM table_name_39 WHERE laps = "24" AND grid = "27"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_28243691_1 (enrollment INTEGER, founded VARCHAR)',
   'role': 'system'},
  {'content': 'List the highest number of students in attendance for the institution that started in 1923.',
   'role': 'user'},
  {'content': 'SELECT MAX(enrollment) FROM table_28243691_1 WHERE founded = 1923',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_19741316_1 (races INTEGER, position VARCHAR)',
   'role': 'system'},
  {'content': 'What was the number of races in the season in which the team placed on the 14th position?',
   'role': 'user'},
  {'content': 'SELECT MIN(races) FROM table_19741316_1 WHERE position = "14th"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE staff (staff_name VARCHAR, staff_id VARCHAR); CREATE TABLE staff_department_assignments (job_title_code VARCHAR, staff_id VARCHAR, date_assigned_to VARCHAR)',
   'role': 'system'},
  {'content': 'What is the name and job title of the staff who was assigned the latest?',
   'role': 'user'},
  {'content': 'SELECT T1.staff_name, T2.job_title_code FROM staff AS T1 JOIN staff_department_assignments AS T2 ON T1.staff_id = T2.staff_id ORDER BY T2.date_assigned_to DESC LIMIT 1',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_91 (home_team VARCHAR)',
   'role': 'system'},
  {'content': "What was Melbourne's score as the home team?", 'role': 'user'},
  {'content': 'SELECT home_team AS score FROM table_name_91 WHERE home_team = "melbourne"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_5 (matches INTEGER, prize_money VARCHAR)',
   'role': 'system'},
  {'content': 'What is the highest Matches, when Prize Money is £5,000?',
   'role': 'user'},
  {'content': 'SELECT MAX(matches) FROM table_name_5 WHERE prize_money = "£5,000"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_29 (mwehl_team VARCHAR, player VARCHAR)',
   'role': 'system'},
  {'content': 'Which MWEHL team has player Ben Johnson?', 'role': 'user'},
  {'content': 'SELECT mwehl_team FROM table_name_29 WHERE player = "ben johnson"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_22982552_9 (class_year INTEGER, player VARCHAR)',
   'role': 'system'},
  {'content': 'What class year was Vencie Glenn from? ', 'role': 'user'},
  {'content': 'SELECT MIN(class_year) FROM table_22982552_9 WHERE player = "Vencie Glenn"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE Documents (document_id VARCHAR, document_status_code VARCHAR, document_type_code VARCHAR)',
   'role': 'system'},
  {'content': 'List the document ids for any documents with the status code done and the type code paper.',
   'role': 'user'},
  {'content': 'SELECT document_id FROM Documents WHERE document_status_code = "done" AND document_type_code = "Paper"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_18 (ship VARCHAR, nationality VARCHAR)',
   'role': 'system'},
  {'content': 'What ship has a norway nationality?', 'role': 'user'},
  {'content': 'SELECT ship FROM table_name_18 WHERE nationality = "norway"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_1216675_1 (chapter INTEGER, pinyin VARCHAR)',
   'role': 'system'},
  {'content': 'What chapter number is Shiqiu?', 'role': 'user'},
  {'content': 'SELECT MIN(chapter) FROM table_1216675_1 WHERE pinyin = "Shiqiu"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_2135222_2 (density VARCHAR, english_name VARCHAR)',
   'role': 'system'},
  {'content': 'How many figures are there for density for Yucheng County?',
   'role': 'user'},
  {'content': 'SELECT COUNT(density) FROM table_2135222_2 WHERE english_name = "Yucheng County"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_1140083_2 (rnd VARCHAR, pole_position VARCHAR, fastest_lap VARCHAR)',
   'role': 'system'},
  {'content': 'How many rounds were won with James Hunt as pole position and John Watson as  fastest lap?',
   'role': 'user'},
  {'content': 'SELECT COUNT(rnd) FROM table_1140083_2 WHERE pole_position = "James Hunt" AND fastest_lap = "John Watson"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_52 (transfer_window VARCHAR, source VARCHAR, moving_from VARCHAR)',
   'role': 'system'},
  {'content': 'What is the transfer window of the Leeds United source with a move from Motherwell?',
   'role': 'user'},
  {'content': 'SELECT transfer_window FROM table_name_52 WHERE source = "leeds united" AND moving_from = "motherwell"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_27 (capacity VARCHAR, venue VARCHAR)',
   'role': 'system'},
  {'content': 'What is the capacity number for Yunost?', 'role': 'user'},
  {'content': 'SELECT COUNT(capacity) FROM table_name_27 WHERE venue = "yunost"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE Aircraft (aid VARCHAR, distance INTEGER)',
   'role': 'system'},
  {'content': 'Show ids for all aircrafts with more than 1000 distance.',
   'role': 'user'},
  {'content': 'SELECT aid FROM Aircraft WHERE distance > 1000',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_51 (wins INTEGER, losses INTEGER)',
   'role': 'system'},
  {'content': 'For the teams that had less than 1 loss, what was the average number of Wins?',
   'role': 'user'},
  {'content': 'SELECT AVG(wins) FROM table_name_51 WHERE losses < 1',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_81 (opponent VARCHAR, date VARCHAR)',
   'role': 'system'},
  {'content': 'What opponent has april 23 as the date?', 'role': 'user'},
  {'content': 'SELECT opponent FROM table_name_81 WHERE date = "april 23"',
   'role': 'assistant'}],
 [{'content': 'You are an text to SQL query translator. Users will ask you questions in English and you will generate a SQL query based on the provided SCHEMA.\nSCHEMA:\nCREATE TABLE table_name_8 (year INTEGER, score_qualifying VARCHAR, rank_final VARCHAR, apparatus VARCHAR)',
   'role': 'system'},
  {'content': 'Name the Year with a Rank-Final smaller than 2, an Apparatus of team, and a Score-Qualifying smaller than 248.275?',
   'role': 'user'},
  {'content': 'SELECT AVG(year) FROM table_name_8 WHERE rank_final < 2 AND apparatus = "team" AND score_qualifying < 248.275',
   'role': 'assistant'}],